<ion-modal-view >
	<ion-header-bar class=""style="background: #fff !important;border-bottom: 1px solid #dbdbdb;">
		
        <a style="font-size:30px;padding-left:10px" ng-click="closeModal()"><i class="ion-ios-arrow-left" style="color: #7f7f7f !important;"></i></a>
   
		<h1 class="title" style="color:#000">个人登录/注册</h1>
		
	</ion-header-bar>
	<ion-content>
		<form name="myForm">
			<div class="cont">
				<!--<div class="row" style="border: none;">-->
					<!--<div class="button icon-left ion-ios-redo button-positive"  ng-init="isShow = true" ng-click="isShow=!isShow" style="margin:0 auto ;border-radius: 15px;">
						<a style="color:#FFFFff">登陆/注册</a>
					</div>-->
					<div class="row" style="border-top: 1px solid #dbdbdb;border-bottom: 1px solid #dbdbdb;padding: 0;">
                        			<div class="col col-50" >
                        				<label class="item item-radio" style="border: none;">
                        					<input type="radio" name="111"ng-model="num"ng-checked="true" ng-init="num= 1"  checked="true" ng-value="1">
                        					<div class="radio-content">
                        						<div class="item-content">
                        							登录
                        						</div>
                        						<i class="radio-icon ion-android-done"style="color: #3db937;"></i>
                        					</div>
                        				</label>
                        			</div>
                        			<div class="col col-50" style="border-left: 1px solid #dbdbdb;">
                        				<label class="item item-radio" style="border: none;">
                        					<input type="radio" name="111"ng-model="num" ng-value="0">
                        					<div class="radio-content">
                        						<div class="item-content">
                        							注册
                        						</div>
                        						<i class="radio-icon ion-android-done" style="color: #3db937;"></i>
                        					</div>
                        				</label>
                        			</div>
					</div>
					
				</div>
			<!--</div>-->
			<div ng-show="num">
				<div class="item item-input" style="text-align: center">
						<input type="text" placeholder="请输入手机号"  ng-model="personLoginData.username" name="personLoginPhone" required>
						<span ng-show="myForm.personLoginPhone.$error.required" style="color:#62ae36 ;font-size:7px">手机号是必须的。</span>
				</div>
				<div class="item item-input ">
					<input type="password" placeholder="请输入密码"    ng-model="personLoginData.password" name="personLoginPassword" required>
					<span ng-show="myForm.personLoginPassword.$error.required" style="color:#62ae36 ;font-size:7px">密码是必须的。</span>
				</div>
				<div style="background: #dbdbdb;height: 2000px;">
					<div class="row">
						<div class="col col-25">
							<a href="#" style="color: #4b9d01;">&nbsp;忘记密码？</a>
						</div>
						<div class="col col-50">
							
						</div>
						
					</div>
					<button class="button button-balanced button-full"
					ng-click="personLogin()" type="submit"  style="border-radius: 15px" >立即登陆
				</button>
				</div>
				

			</div>
			<div ng-show="num==0">
				<div class="item item-input" style="text-align: center">
				
					<input type="text" placeholder="请输入手机号" ng-model="personRegData.mobile">
				</div>
				<div class="item item-input verify-div" style="position: relative">
					
					<input class="item item-input" type="password" placeholder="请设置密码" ng-model="personRegData.password">
					<!--<button class="verify-btn" type="button"  style="text-align: center ; position: absolute;right:12px;top:10px ;border:none; background-color:#f0f0f0">
					</button>-->
				</div>
				<div class="item item-input verify-div" style="position: relative">
					
					<input class="item item-input" type="password" placeholder="请确认密码" ng-model="personRegData.repassword">
					<!--<button class="verify-btn" type="button"  style="text-align: center ; position: absolute;right:12px;top:10px ;border:none; background-color:#f0f0f0">
					</button>-->
				</div>
				<div style="background: #dbdbdb;height: 2000px;margin-top:-10px">
				<div class="row"></div>
				<button  class="button button-balanced button-full" type="submit"   style="border-radius: 15px" ng-click="personReg()">立即注册
				</button>
				</div>
			</div>
		</form>
		<!--<button class="button button-full bgorange" style="border-radius: 15px;color:#fff" ng-click="closeModal()">关闭</button>-->
	</ion-content>
</ion-modal-view>