<ion-modal-view >
	<ion-header-bar style="background: #fff !important;border-bottom: 1px solid #dbdbdb;">
		 <a style="font-size:30px;padding-left:10px" ng-click="closeModal3()"><i class="ion-ios-arrow-left" style="color: #7f7f7f !important;"></i></a>
		<h1 class="title" style="color:#000">商家入驻/登录</h1>
		
	</ion-header-bar>
	<ion-content>
		<form name="myForm">
			<div class="cont">
				<div class="row" style="border-top: 1px solid #dbdbdb;border-bottom: 1px solid #dbdbdb;padding: 0;">
                        			<div class="col col-50" >
                        				<label class="item item-radio" style="border: none;">
                        					<input type="radio" name="111"ng-model="num"ng-checked="true"ng-init="num= 1"  checked="true" ng-value="1">
                        					<div class="radio-content">
                        						<div class="item-content">
                        							登录
                        						</div>
                        						<i class="radio-icon ion-android-done"style="color: #3db937;"></i>
                        					</div>
                        				</label>
                        			</div>
                        			<div class="col col-50" style="border-left: 1px solid #dbdbdb;">
                        				<label class="item item-radio" style="border: none;">
                        					<input type="radio" name="111"ng-model="num" ng-value="0">
                        					<div class="radio-content">
                        						<div class="item-content">
                        							注册
                        						</div>
                        						<i class="radio-icon ion-android-done" style="color: #3db937;"></i>
                        					</div>
                        				</label>
                        			</div>
					</div>
			<div ng-show="num==1">
					<div class="item item-input" style="text-align: center">
						<input type="text" placeholder="请输入手机号"  ng-model="busLoginData.seller_name">
					</div>

					<div class="item item-input ">

						<input type="password" placeholder="请输入密码"  ng-model="busLoginData.password">
					</div>
					<div style="background: #dbdbdb;height: 2000px;">
						<div class="row">
						<div class="col col-25">
							<a href="#" style="color: #4b9d01;">&nbsp;忘记密码？</a>
						</div>
						<div class="col col-50">
							
						</div>
						
					</div>
					<button class="button button-balanced button-full" ng-click="busLogin()"  type="submit"  style="border-radius: 15px">立即登陆
					</button>
					</div>
			</div>
			<div ng-show="num==0">
								<div class="item item-input" style="text-align: center">
									<input type="text" placeholder="请输入手机号"  ng-model="busRegData.mobile">
								</div>
								<div class="item item-input ">
									<input type="password" placeholder="请输入密码" ng-model="busRegData.password">
								</div>
								<div class="item item-input ">
									<input type="password" placeholder="请再输入密码" ng-model="busRegData.repassword">
								</div>
								<div>
								<div class="item item-input">
									<input type="text" placeholder="请输入姓名" ng-model="busRegData.name">
								</div>
								<div class="item item-input">
									<input type="number" placeholder="请输入身份证号码"  ng-model="busRegData.id">
								</div>
								<div class="item item-input">

									<input type="number" placeholder="请输入店铺地址"  ng-model="busRegData.add">
								</div>
								
								</div>
								<div style="background: #dbdbdb;height: 2000px;">
									<div class="row"></div>
									<button  class="button button-balanced button-full" type="submit"
									ng-click="busReg()"		 style="border-radius: 15px">立即注册
								</button>
								</div>
								

						
					</div>
				</div>

			</div>


		</form>

		<!--<button class="button button-full bgorange" style="border-radius: 15px;color:#fff" ng-click="closeModal3()">关闭</button>-->

	</ion-content>
</ion-modal-view>