<ion-view title="订单详情">
	<ion-nav-buttons side="right">
        <i class="icon ion-ios-bell chaticon" style="color:#313131" ></i>
	</ion-nav-buttons>
	<ion-content>
        <div class="list">
            <div class="item item-divider">
                <h2>订单号:{{order.sn}}</h2>
            </div>
            <div class="item item-thumbnail-left" ng-repeat="item in order._subs._skus">
                <img src="{{item.sku_thumb}}">
                <p style="height:8px"></p>
                <h2 >商品名:{{item.sku_name}}</h2>
                <p style="height:8px"></p>
                <div class="row">
                    <h3 class="col col-40">单价:{{item.sku_price}}</h3>
                    <h3 class="col col-30">数量:{{item.buy_nums}}</h3>
                    <h3 class="col col-30">小计:{{item.sku_price * item.buy_nums}}</h3>
                </div>
            </div>
            <div class="item row">
                <h3 class="col col-20 col-offset-30">金额总计:</h3>
                <h3 class="col col-20" ng-bind="total()+'元'"></h3>
            </div>
            <div class="item">
                <i style="font-size: 1.2em" class="ion-person"></i><span style="font-size:5px;margin-left: 2px">收货名:{{order.address_name}}</span>
            </div>
            <div class="item">
                <i class="ion-android-home"></i><span style="font-size:5px;margin-left: 2px">收货地址:{{order.address_detail}}</span>
            </div>
        </div>
	</ion-content>
</ion-view>


