<ion-view style="overflow-y:hidden;" ng-controller="homeCtrl">
    <ion-nav-bar class="headerhome">
        <ion-nav-buttons side="left">
            <a menu-toggle="left"id="homeheader" style="font-size:0.5rem;padding-left:0.5rem"><img class="button1" src="images/home/button1.png"></a>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <a ui-sref="tabs.Hmessage" ng-show="isLogin">
                <div class="tab-item has-badge">
                    <i class="icon ion-android-mail" style="color:#313131;padding-right: 0.5rem"></i>
                    <i class="badge num"style="background: red;">{{messageNum}}</i>
                </div>
            </a>
            <a ui-sref="tabs.Hmessage" ng-hide="isLogin">
                <div class="tab-item has-badge">
                    <i class="icon ion-android-mail" style="color:#313131;padding-right: 0.5rem"></i>
                    <i class="badge num"style="background: red;"></i>
                </div>
            </a>
        </ion-nav-buttons>
        <ion-nav-title >
            <div class="item item-input item-input-index" ng-controller="serchCtrl">
                <input type="text"class="headerInput "ng-model="homesearch" placeholder="搜索商品">
                <a ng-click="tohomeserch(homesearch)">
                    <i class="icon ion-search placeholder-icon"style="color:#3cb936 !important"></i>
                </a>
            </div>
        </ion-nav-title>
    </ion-nav-bar>



    <ion-content>
    	
        <div class="topbg" >           
            <ion-slide-box auto-play="true" does-continue="true" slide-interval="3000"ng-style="get_height" >
                <ion-slide ng-repeat="i in data">
                    <img ng-src="{{i.img}}" ">
                </ion-slide>
               
                
            </ion-slide-box>
        </div>
        <div class="row text-center bgcolorw clearfix" ng-style="get_height2" >
            <div class="col col-25">
                <a ng-click="homeLogin()"><img class="imgsize" src="images/home/jy.png"></a>
                <p class="font12px">救援</p>
            </div>
            <div class="col col-25">
               <a ui-sref="tabs.activity"><img class="imgsize" src="images/home/xw.png"></a>
                <p class="font12px">新闻动态</p>
            </div>
            <div class="col col-25">
                <a ui-sref="tabs.product"><img class="imgsize" src="images/home/gw.png"></a>
                <p class="font12px">商城</p>
            </div>
            <div class="col col-25">
                <a ui-sref="tabs.service"><img class="imgsize" src="images/home/images/qt.png"></a>
                <p class="font12px">其他维修</p>
            </div>
        </div>
          <div style="width: 100%;background: #dbdbdb;height: 5px;margin-top:-10px;"/></div>
        <div class="carlist " style="margin-top:15px">
            <div class="row "style="margin-top:1px">
                <div class="col col-80"><img src="images/home/titleimg.png" alt="" style="width: 1rem;"/> <span style="text-align: left;position: relative;top:-3px">新品推荐</span></div>
                <div class="col col-20" style="text-align: center">
                    <a ui-sref="tabs.product" style="display:inline-block;text-decoration:none ; color: #0a0a0a;position: relative;top:-3px" >
                       更多<i class="ion-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="item" style="border:none">
                <ion-scroll direction="x" scrollbar-x="fasle">
                    <ul class="ul row">
                        <li class="chatimg col col-50" ng-repeat="item in homeshangpin" ng-click="toDetailProduct(item)">
                            <img  ng-src="{{item.thumb}}" style="height: 100px ;width:100%" />
							<br>
                            <span style="font-size:1.4rem;color:#000;width:100%;display:inline-block;text-align:center;height:1.6rem">{{item.name}}</span>
                        </li>
                    </ul>
                </ion-scroll>
            </div>
        </div>
            <div style="width: 100%;background: #dbdbdb;height: 5px;margin-top:-10px;"/></div>
            <div class="row "style="margin-top:15px">
                <div class="col col-80"><img src="images/home/titleimg.png" alt="" style="width: 1rem;"/>
                    <span style="text-align: left;position: relative;top:-3px">明星店铺</span></div>
                <div class="col col-20" style="text-align: center">
                    <a ui-sref="tabs.shop" style="display:inline-block;text-decoration:none ; color: #0a0a0a;position: relative;top:-3px"  >
                        更多<i class="ion-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="shopimg">
              
                   
                        <div ng-repeat="item in homeStore" ng-click="toDetailStore(item)">
                            <div class="chatimg col" >
                                <img  ng-src="{{item.logo}}" style=" width:100%;height:165.25px" />
                               
                            </div>
                        </div>
                   
              
            </div>
        </div>
    </ion-content>
</ion-view>
