<ion-view ng-controller="productCtrl">
	 <ion-nav-title >
        <div class="item item-input item-input-index" style="width:75%;margin:5px auto" ng-controller="serchCtrl">
            	<input type="text"class="headerInput "ng-model="prosearch" placeholder="搜索商品">
         		<a ng-click="toproductserch(prosearch)">
         				<i class="icon ion-search placeholder-icon"style="color:#3cb936 !important"></i>
         		</a>
            </div>
    </ion-nav-title>
    <!-- <ion-nav-buttons side="right" >
        <a ui-sref="tabs.checkout">
        <div class="tab-item has-badge"  style="opacity: 1;"ng-controller="numCtrl">
            <i class="icon ion-ios-cart carticon" style="color:#313131"></i>
            <i class="badge num"style="background: red;">{{totalnum()}}</i>
        </div>
        </a>
    </ion-nav-buttons> -->
    <ion-content>
    	<img src="images/home/banner2.jpg" style="width: 100%;border-bottom: 1px solid #dbdbdb;"/>
    	<div class="row">
				<div class="item item-input item-select col col-50" style="border: none;font-size: 0.7rem;z-index: 99;">
					<div id="">
						&nbsp;
					</div>
					<select  style="padding-right:3rem !important;max-width: 114%;"
					ng-model="selectedCategory" ng-change="fenlei(selectedCategory)" >
						<option ng-value="">全部分类</option>
						<option ng-repeat="x in categorys" ng-value="{{x.id}}">{{x.name}}</option>
					</select>

				</div>
				<div class="item item-input item-select col col-50 " style="border: none;border-left: 1px solid #dbdbdb;font-size: 0.7rem;">
						<div id="">
						&nbsp;
						</div>
					<select style="max-width: 114%;" ng-model="orderss" ng-change="paixu(orderss)">
						<option value="">默认排序</option>
						<option value="Hprice">价格从高到低</option>
						<option value="Lprice">价格从低到高</option>
						<option value="Hsales">销量从高到低</option>
						<option value="Lsales">销量从低到高</option>
					</select>
				</div>
    	</div>
    	<div class="row" style="flex-flow: row wrap; " >
    		<div class="col col-25" ng-repeat="i in tempdata" ng-click="toproDetail(i)" style="">
    			<img ng-src="{{i.thumb}}" alt="" style="height: 50px"/>
    			<h5 style="overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}">{{i.name}}</h5>
    			<p style="color:red;font-size: 0.8rem;">{{i.shop_price | currency:"￥"}}</p>
    		</div>
    	</div>
		
    </ion-content>
</ion-view>