
<ion-view ng-controller="activitysubCtrl">
    <ion-content>
        <div class="list card">

            <div class="item item-avatar">
                <img  src="images/home/u=444058623,2446044547&fm=23&gp=0.jpg">
                <h2>{{news.main}}{{news.id}}</h2>
                <p>{{news.date}}</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="images/home/u=444058623,2446044547&fm=23&gp=0.jpg">
                <p>{{news.content}}</p>
               
            </div>
        </div>

    </ion-content>
</ion-view>