<ion-view title="" id="activity" ng-controller="activityCtrl">
    <ion-content style="background:#e5e5e5">
        <div class="item row" style="background:floralwhite">
            <span class="col col-91">新闻动态</span>
            <span class="col col-10" style="text-align: center">
                <a style="display:inline-block;text-decoration:none ;">
                    <i style="font-size: 27px ;color:#313131" class="ion-ios-reload"></i>
                </a>
            </span>
        </div>
        <div class="list">
            <a class="item item-thumbnail-left item-icon-right" ng-repeat="item in news"
            ng-click="toDetailNews(item)">
                <img src="{{item.newsimg}}">
                <h2></h2>
                <p>{{item.date}}</p>
                <p>{{item.main}}.....</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
        <div class="item row" style="background:floralwhite">
            <span class="col col-91">视频中心</span>
            <span class="col col-10" style="text-align: center">
                <a style="display:inline-block;text-decoration:none ;">
                    <i style="font-size: 27px ;color:#313131" class="ion-ios-reload"></i>
                </a>
            </span>
        </div>
          <div class="list">
	<video style="width:100%" controls loop="loop" ng-src="{{newUrl}}"></video>
    
   
	</div>
       

    </ion-content>
</ion-view>