<ion-view title="选择地址" ng-controller="completeCtrl">
<ion-content>
<div class="item" ng-repeat="i in dizhi"  >
<div class=" row" >
<span class="col col-25">{{i.name}}</span>
<span class="col col-40"></span>
<span  class="col col-25">{{i.mobile}}</span>
</div>
<div class=" row">
<span  class="col col">{{i.address}}</span>

</div>
<div class="row defaultColor" >
<span class="col col-25  defaultColor2" ng-click="defaultaddress(i)" >{{i.default}}</span>
<span class="col col-50"></span>
<span class="col col-25" style="text-align:center" ng-click="showConfirm(i)"><i class="ion-trash-a"></i></span>
</div>
</div>
</ion-content>
</ion-view>